<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start page</title>
    
</head>
<style>
   
</style>
<body>
<h1> Info</h1>

<p>
<pre>
Supervisor Oleksandr Yakovenko +48 343 903 440
Division manager Serhii Skotaniuk +48 500 161 694

Ne zabyvaem sveryatsya s veduchim pered vyezdom:
1. nagruzka na os (vedushchaya max 11.5 t, 25% ot obshchego vesa)
2 kreplenie gruza
3. zapolnenie CMR
4. vysota pricepa (max 4.0 m)
5. marshrut
6. esli gruz mogut ukrast, platnyi parking
7. prosba ne sezhat s asfalta LKW

AT zapret budni 22:00 do 5:00 /A12 Innsbruck/
Subbota s 15:00
CH zapret kazhdyy den s 22:00 do 5:00

Strachovka +370 6 55 555 99. QR kod na SE. Takzhe pri obshchenii s policiey.

Vash mehanik : Heorhii Kyrstiuk +48500161369
В случае, если у вас неполадки с приложением или планшетом, прошу обращаться к Maryn Solomon +48343903640.



Gruz ADR zapreshcheno cherez tunnel MontBlanc, Angers, Hamburg
Esli gruz ADR obyazatelno posovetuytes s veduchim!

Na RO, HU, CH obyazatelno proveryaem dokumenty na mashinu i pricep (TUV).
</pre>
</p>





<h1> Дежурные на выходные</h1>
<p>
<pre>
    Информация на выходные!
С субботы 08:00 по понедельник 08:00 !
Дежурных ведущих нет! 
Набираем своего ведущего
Если ведущий не отвечает, набираем супервайзера (Олександр +48 500 161 833)

</pre>    
</p>

<h1> Приемка машины</h1>
<p>
    <pre>
    
        *******************************************
    
        Posle priemki mashiny
    
        Proverte i soobshchite o probleme
        - sumka ADR
        - vedro ADR s lopatkoi
        - instrukciya ADR
        - цепи противоскользящие
        - ognetushiteli
        - мясорубка для откручивания колес
        Dokumenty
        - licenziya
        - techpasport
        - doverennost banka
        - umova derzhavy
        - nakletka AT
        Technicheskoe sostoyanie
        nuzhen li service
        (kolesa, rozetki, celoe steklo, kondicioner/pechka, avtonomka)
        Toplivnye karty(vozmite srazu pinkody) (DKV, IDS, OMV, BP)
        
        Otpishite chto oznakomilis
        
        
        *******************************************
    </pre>
    
    </p>

</body>
</html>
