<!DOCTYPE html>
<html lang="en">
<head>
  <title>link sites</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
      p.dline {
         line-height: 1.5;
         }
      P {
        line-height: 2.5em;
        }

  </style>

</head>
<body>

<div class="container mt-3">
  <h2> Полезные ссылки</h2>
  <div class="d-flex flex-column mb-3">
    <div class="p-2 bg-info">
        <p>
            <a href="https://trafficban.com">Traffic Ban</a> <br>
            <a href="https://www.google.com/maps/d/edit?mid=1xByR9E3StLkp_QAAYDwf2Is6lOInzN1h&usp=sharing">Бесплатный душ</a> <br>
            <a href="https://www.google.com/maps/d/edit?mid=1cisVlUh-BN9ldp-KDKX_ApzFq-tgTvUv&usp=sharing">Продуктовый магазин с возможностью подъехать</a> <br>
            <a href="https://www.google.com/maps/d/edit?mid=10Blsylj2M5EGrA1Zq3GSJb0Nn7Ak-dg&ll=45.573237239464234%2C11.45424300000002&z=4">Parking, промзона</a> <br>
            <a href="https://www.eurovignettes.eu/portal/en/booking/booking">Eurovinettes</a> <br>
            <a href="https://www.hgvlevy.service.gov.uk/ords/pwslive/">GB vinette</a> <br>
            <a href="https://vejafgifter.dk/en/digital-kmtoll-ticket/#">Vinette DK</a> <br>
        </p>
    </div>

</div>

</body>
</html>